.container{
   margin:1em auto;
   max-width:900px;
}

.container .controls{
   display:flex;
   flex-wrap:wrap;
   padding:.5em;
   margin:1em 0;
   background-color:#e5e5e5;
}

.container .controls > *{
   margin:1em;
   flex: 1 0 0px;
}

.row{
   display:table-row;
   background-color:#eee;
}
.row:nth-child(even){
   background-color:#ddd;
}
.cell{
   display:table-cell;
}
.cell .cell-contents{
   padding:4px;
}
.cell:nth-child(even) .cell-contents{
   background-color:#ccc;
}
.cell .cell-contents[data-occupied="room"]{
   background-color:blue !important;
}

.cell .cell-contents[data-occupied="hero"]{
   background-color:green !important;
}

.cell .cell-contents[data-occupied="monster"]{
   background-color:red !important;
}

.cell .cell-contents[data-occupied="treasure"]{
   background-color:yellow !important;
}



